body{
  padding: 0;
  margin: 0;
  background-color: rgb(243, 243, 243);
}

/* For centering text in page */
.center-text{
  font-size: 5rem;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
  color: rgb(70, 70, 70);
  animation-name: center-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.center-paragraph{
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top:62%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
  color: rgb(70, 70, 70);
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 655px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

/* for center text animation */
@keyframes center-text {
  0%   {color: rgb(87, 87, 87);}
  25%  {color: rgb(87, 87, 87);}
  50%  {color: rgb(54, 54, 54);}
  100% {color: rgb(29, 29, 29);}
}


.section1{
  height:100vh;
  background-color:rgb(253, 253, 253);
}