#myBtn {
    background-color:none;
    color: #2f2f2f;
    font-size: 29px;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 40px;
  z-index: 99;
  cursor: pointer;
  padding: 10px;
  border-radius: 40px;
    border: 2px solid #242424;
}

#myBtn:hover{
    border: 1px solid black;
    color: rgb(238, 238, 238);
    
}

/* Progress Scroll */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
  }
  
  .header h2 {
    text-align: center;
  }
  
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  .progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
  }